<div class="hero-body bg">
  <div class="container">
    <div class="column is-4 is-offset-4">
      <h3 class="text-shadow title has-text-grey-lighter">Login</h3>
      <div class="grey-background box">
        <form method="POST" action="/auth/login">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" placeholder="Username" name="username">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="Your Password" name="password">
            </div>
               {{#if errorMessage.length}}
              <ul>
                {{#each errorMessage}}
                <li class="help is-danger">{{ this }}</li>
                {{/each}}
              </ul>
              {{/if}}
          </div>
          <button type="submit" class="button is-block is-info is-fullwidth">Submit</button>
        </form>
      </div>
      <p>
        <a class="text-shadow has-text-white" href='/auth/signup'>- or Sign Up -</a>
      </p>
    </div>
  </div>
</div>