<div class="column is-4">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered">
        Component
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
        <p>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">See more</a>
    </footer>
  </div>
</div>