<div class="column is-4">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered">
        {{this.name}}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{!-- {{this.description}} --}}
        <p>
          <time datetime="2016-1-1">{{this.date}}</time>
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item">See more</a>
    </footer>
  </div>
</div>