<div class="column is-4">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title is-centered">
        {{event.name}} 
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        {{!-- {{event.description}} --}}
        <p class="has-text-centered">
          <time datetime="2016-1-1">{{event.formattedDate}}</time>
        </p>
      </div>
    </div>
    <footer class="card-footer">
      {{#unless user}}
        <a href="/auth/login" class="card-footer-item">See more</a>   
      {{/unless}}   
      {{#if user}}
        <a href="/event/{{event._id}}" class="card-footer-item">See more</a>
      {{/if}}
    </footer>
  </div>
</div>