/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

/* ---- layout ---- */

body {
  background-color: teal;
}

.navbar {
  background-color:#701E0B;
  color: whitesmoke
}

.navbar-menu {
  background-color:#701E0B;
  color: whitesmoke
}

.navbar,
.navbar-menu,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 5px;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.footer {
  background-color:#701E0B;
  color: whitesmoke;
  padding: 30px;
}

.profile-info {
  margin-bottom: 10px;
  padding: 20px;
}

.detail-info {
  margin-bottom: 10px;
  padding: 20px;
}

/* ---- components ---- */

.navbar a {
  color: whitesmoke;
}

.login {
  margin-right: 5px;
}

.profile {
  margin-right: 5px;
}

.card {
  margin: 5px;
}

.avatar img {
    border-radius: 999px;
    background-color: white;
}

.edit-btn {
  margin-bottom: 8px;
}

.detail-btn {
  margin-bottom: 8px;
  padding-top: 15px;
}



    /* background-color: #701E0B;
    color: #AF3320;
    color: #bf3319
     */