<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>

  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Home</a>
      </div>
      <div class="navbar-menu is-active">
        {{#if user}}
        <div class="navbar-end">
          <a class="button is-light login" href="/auth/logout">
            <span>
              Logout
            </span>
          </a>
          <a class="button is-light signup" href="/users/{{user._id}}">
            <span>Profile</span>
          </a>
        </div>
        {{else}}
        <div class="navbar-end">
          <a class="button is-light login" href="/auth/login">
            <span>
              Login
            </span>
          </a>
          <a class="button is-light signup" href="/auth/signup">
            <span class="has-text-dark">Signup</span>
          </a>
        </div>
        {{/if}}
      </div>
    </nav>
  </header>
  <div class="bg">

    {{{body}}}

  </div>
  <footer class="footer">
    <div class="container is-fluid">
      <div class="content">
        <p>&copy Mihai & Míriam </p>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{process.env.MAPS_KEY}}">
  </script>
  <script src="/javascripts/main.js"></script>
</body>

</html>