/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- layout ---- */

body {
  background-color: darkslategrey;
  color: white;
  position: relative
}

h3{
  margin-bottom: 10px;
}

.bg{
  background-image: url("/images/orion.jpg");
  min-height: 80vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  padding-bottom: 80px;
}

.navbar {
  background-color:#701E0B;
  color: whitesmoke;

}

.navbar-menu {
  background-color:#701E0B;
  color: whitesmoke
}

.navbar,
.navbar-menu,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 5px;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.footer {
  background-color:#701E0B;
  color: whitesmoke;
  padding: 20px;
}

.profile-info {
  margin-bottom: 10px;
  padding: 20px;
}

.detail-info {
  margin-bottom: 10px;
  padding: 20px;
}
.box {
  margin-bottom: 20px;
  overflow: hidden;
}

/* ---- components ---- */

.navbar a {
  color: whitesmoke;
}

.login {
  margin-right: 5px;
}

.profile {
  margin-right: 5px;
}

.card {
  margin: 5px;
  background-color: rgba(193, 203, 204, .8)
}

.avatar img {
    border-radius: 999px;
    background-color: white;
}

.edit-btn {
  margin-bottom: 8px;
}

.detail-btn {
  margin-bottom: 8px;
  padding-top: 15px;
}

.text-shadow {
  text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.grey-background {
  background-color: rgba(193, 203, 204, .6)
}

.dark-background {
  background-color: rgba(0 , 0, 5, .6);
  padding: 5px;
  border-radius: 5px;
}

#map {
  height: 400px;
}