<section class="profile-info">
  <div class="container">
    <div class="is-hidden-mobile">
      <div class="columns is-mobile">
        <div class="column is-two-thirds content">
          <p class="has-text-dark">
            <span class="title is-bold">
              Username
            </span>
            <!---->
          </p>
          <p>
            <span class="subtitle">
              <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</small>
            </span>
          </p>
        </div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column">
          <div class="image is-128x128 avatar">
            <img src="/images/planet-512 (1).png">
          </div>
        </div>
      </div>
    </div>
    <div class="is-hidden-tablet">
      <div>
        <div class="columns is-mobile">
          <div class="column is-two-thirds">
            <h1 class="title is-bold">
              Usernameb
            </h1>
            <!---->
          </div>
          <div class="column">
            <div class="image is-1by1 avatar">
              <img src="../html-css-project/planet-512 (1).png">
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p>
              <span class="subtitle">
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</small>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container edit-btn">
    <a class="button is-dark" href="#">
      <span>Edit</span>
    </a>
  </div>
</section>

<section class="container">
  <div class="columns is-multiline is-desktop">

    {{> cardpartial }}

    <div class="column is-4">
      <div class="card">
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Create new event</a>
        </footer>
      </div>
    </div>
  </div>
</section>