<section class="profile-info">
  <div class="container">
    <div class="is-hidden-mobile">
      <div class="columns is-mobile">
        <div class="column is-two-thirds content">
          <p class="">
            <span class="text-shadow title is-1 is-bold has-text-grey-lighter">
              {{user.username}}
            </span>
            <!---->
          </p>
          <p>
            <span class="subtitle has-text-light">
              {{!-- <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</small> --}}
            </span>
          </p>
        </div>
        <div class="column is-1"></div>
        <div class="column is-1"></div>
        <div class="column">
          <div class="image is-128x128 avatar">
            <img src="/images/planet-512 (1).png">
          </div>
        </div>
      </div>
    </div>
    <div class="is-hidden-tablet">
      <div>
        <div class="columns is-mobile">
          <div class="column is-two-thirds">
            <h1 class="text-shadow title is-1 is-bold has-text-grey-lighter">
              {{user.username}}
            </h1>
            <!---->
          </div>
          <div class="column">
            <div class="image is-1by1 avatar">
              <img src="/images/planet-512 (1).png">
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p>
              <span class="subtitle  has-text-light">
                {{!-- <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</small> --}}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container edit-btn">
    {{!-- <a class="button is-light" href="/users/user/edit">
      <span>Edit</span>
    </a> --}}
  </div>
</section>

<section class="container">
  <h3 class="text-shadow title is-bold has-text-grey-lighter">My events</h3>
  <div class="columns is-multiline is-desktop">
    {{#each eventsCreated}}
      {{> cardpartial event=this user=../user}}
    {{/each}}
    <div class="column is-4">
      <div class="card">
        <footer class="card-footer">
          <a href="/event/new" class="card-footer-item">Create new event</a>
        </footer>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h3 class="text-shadow title is-bold has-text-grey-lighter">Joined events </h3>
  <div class="columns is-multiline is-desktop">
    {{#each eventsJoined}} 
     {{> cardpartial event=this user=../user}} 
    {{/each}}    
  </div>
</section>