<section class="detail-info">
  <div class="container">
    <div class="columns">
      <div class="column is-1"></div>
      <div class="column is-two-thirds content container">
        <p class="has-text-dark">
          <span class="title is-bold">
            Event name
          </span>
          <!---->
        </p>
        <p class="subtitle">
          Description:
        </p>
        <p class="has-text-white">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
        </p>
        <p class="subtitle">
          Date:
          <span class="has-text-white is-size-6">
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </span>
        </p>
        <p>
          Created by
          <a class="has-text-dark" href="#">Username</a>
        </p>

      </div>
      <div class="column is-4">
        <div class="field is-grouped detail-btn container">
          <p class="control">
            <a href="#" class="button is-danger">
              Join
            </a>
          </p>
          <p class="control">
            <a href="#" class="button is-dark">
              Edit
            </a>
          </p>
          <p class="control">
            <a href="#" class="button is-dark">
              Delete
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="box has-text-centered container">
    Here goes the map
  </div>
</section>