<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">
      Catch the light
    </h1>
    <p class="subtitle">
      Astrophotography events
    </p>
  </div>
</section>

<section class="container">
  <div class="columns is-multiline is-desktop">
     {{> cardpartial }}
  </div>
</section>
